body {
  font-size:18px;
}


h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    font-family: merriweather, serif;
font-weight: 700;
font-style: normal;
}
.cart-notification-wrapper {
  z-index:10;
}
.header-wrapper {
  position:fixed;
  width:100%;
}
.header__menu-item {
  font-size:1.7rem;
}
#MainContent {
  margin-top:100px;
}

.collection .grid__item {
    border:1px solid #eee;
    padding:15px;
    
}
.collection .grid__item:hover {
    box-shadow: 1px 0px 15px 4px rgba(59,59,59,0.4);
-webkit-box-shadow: 1px 0px 15px 4px rgba(59,59,59,0.4);
-moz-box-shadow: 1px 0px 15px 4px rgba(59,59,59,0.4);
}



/*  */

.product .product__media-wrapper .product__media-gallery .product__media-list .product__media-item.grid__item {
  max-width: 70%;
  width: 70%;
  margin: 0 auto;
}
.collection__title .title {
    text-align: center;
}



.product__info-container .product__accordion summary {
    background-color: #efeeef;
    padding-left:10px;
    padding-right:10px; 
}


.page-title-container {
    text-align: center;
}
.main-page-title {
    text-align: center;
    margin:0 auto;
    padding:0 15px 15px;
    display: inline-block;
    border-bottom: 2px solid;
}

/* 

FOOTER

*/

footer.footer {
    background-color: #000;
    color:#fff;
}
footer.footer .footer-block__details-content .list-menu__item--link {
    color:#fff;
  padding-bottom:0;
  font-size:1.7rem;
  text-decoration:none;
}
.footer-block__details-content>li {
  line-height:1;
}
footer.footer h2 {
    color:#fff;
  margin-bottom:0;
}

.footer-block__newsletter .footer__list-social {
    display:block;
}
.footer-block__newsletter .footer__list-social li {
    display: inline-block;
}
.newsletter-form__field-wrapper .field__input {
    background-color: transparent;
    border:1px solid #fff;
}
.footer__blocks-wrapper.grid .grid__item:first-child {
    padding-right:5%;
    margin-right:5%;
    border-right:1px solid #fff;
}
.footer-block--newsletter .footer-block__newsletter {
    text-align: left;
}
.footer-block--newsletter .footer-block__newsletter .newsletter-form {
    margin:0;
}
.footer-block__newsletter .footer__list-social li   .list-social__link {
    color:#fff;
  padding-bottom:0;
}

@media screen and (min-width: 750px) {
  .cart-notification {
      top: 75px;
  }
  .product--thumbnail .product__media-gallery {
 
    top: 13rem!important;
  }
}
@media (max-width:768px) {
  #MainContent {
    margin-top:80px;
  }

}